@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    line-height: 1.75;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 800;
    line-height: 1.3;
}

@media(max-width: 991px) {
    body {
        position: relative;
        right: 0;
        transition: .35s ease-in-out;

        &.toggle-nav-mobile {
            right: 270px;

            .header {
                right: 270px;

                .header--nav {
                    right: 0;
                }

                .header--toggle-nav-mobile {
                    > span {
                        &:first-child {
                            width: 32px;
                            transform: rotate(45deg);
                        }
    
                        &:nth-child(2) {
                            width: 0;
                            opacity: 0;
                        }
    
                        &:last-child {
                            width: 32px;
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }
    }
}