@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.preloader--svg {
	font-family: "Poppins", sans-serif;
	width: 100%; height: 100%;

    > text {
        animation: stroke 5s infinite alternate;
	    stroke-width: 1px;
	    stroke: #4A55A2;
	    font-size: 72px;
    }
}

@keyframes stroke {
	0%   {
		fill: rgba(74,85,162,0); stroke: rgba(74,85,162,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(74,85,162,0); stroke: rgba(74,85,162,1); }
	80%  {fill: rgba(74,85,162,0); stroke: rgba(74,85,162,1); stroke-width: 3; }
	100% {
		fill: rgba(74,85,162,1); stroke: rgba(74,85,162,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.preloader {
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    visibility: visible;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: .35s ease-in-out;

    &.is-hide {
        visibility: hidden;
        opacity: 0;
    }
}